In [14]:
# import pandas as pd
# #Anual CPI
# anual_CPI = pd.read_html("https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/", header=[1])[0]
# anual_CPI.to_csv("./Monthly CPI from 1913.csv")

In [16]:
# inflation_rate = pd.read_html("https://www.usinflationcalculator.com/inflation/historical-inflation-rates/", header=[0])[0]
# inflation_rate.to_csv("./US_Inflation Rates_From 1914.csv")

In [3]:
df = pd.read_csv("training_filtered.csv", index_col = 0)
df.head()

,week,Date,Close,GDP,CCI,Retail,Yield,GNP,PCEPI,PAYEMS,Rent_Index,Baltic_Index,CPI,Gas_Price,Inflation_Rate,company_id,sector_id,country_id
0,32,2017-08-09T00:00:00.000-04:00,279.0,19561.896,101.1676,417014.0,2.2476,19870.352,106.093,146913.0,309.479,1260.0,245.519,2.492,1.9,2070,5,35
1,32,2017-08-10T00:00:00.000-04:00,297.0,19561.896,101.1676,417014.0,2.1975,19870.352,106.093,146913.0,309.479,1260.0,245.519,2.492,1.9,2070,5,35
2,32,2017-08-11T00:00:00.000-04:00,288.0,19561.896,101.1676,417014.0,2.1888,19870.352,106.093,146913.0,309.479,1260.0,245.519,2.492,1.9,2070,5,35
3,33,2017-08-14T00:00:00.000-04:00,288.0,19561.896,101.1676,417014.0,2.2185,19870.352,106.093,146913.0,309.479,1209.0,245.519,2.497,1.9,2070,5,35
4,33,2017-08-15T00:00:00.000-04:00,306.0,19561.896,101.1676,417014.0,2.2728,19870.352,106.093,146913.0,309.479,1209.0,245.519,2.497,1.9,2070,5,35

In [6]:
df1 = df[["Date","Close","company_id", "sector_id", "country_id"]]
df1

,Date,Close,company_id,sector_id,country_id
0,2017-08-09T00:00:00.000-04:00,279.000,2070,5,35
1,2017-08-10T00:00:00.000-04:00,297.000,2070,5,35
2,2017-08-11T00:00:00.000-04:00,288.000,2070,5,35
3,2017-08-14T00:00:00.000-04:00,288.000,2070,5,35
4,2017-08-15T00:00:00.000-04:00,306.000,2070,5,35
...,...,...,...,...,...
711857,2021-12-13T00:00:00.000-05:00,0.816,1829,5,35
711858,2021-12-14T00:00:00.000-05:00,0.829,1829,5,35
711859,2021-12-15T00:00:00.000-05:00,0.889,1829,5,35
711860,2021-12-16T00:00:00.000-05:00,0.853,1829,5,35
711861,2021-12-17T00:00:00.000-05:00,0.877,1829,5,35

In [12]:
for company_id 
df[df.company_id==1]

,week,Date,Close,GDP,CCI,Retail,Yield,GNP,PCEPI,PAYEMS,Rent_Index,Baltic_Index,CPI,Gas_Price,Inflation_Rate,company_id,sector_id,country_id
1188,52,1997-12-23T00:00:00.000-05:00,70.18114,8765.907,102.32810,209363.0,5.73,8782.231,74.788,124549.0,169.100,1231.0,161.300,1.167,1.7,1,7,35
1189,52,1997-12-24T00:00:00.000-05:00,69.75323,8765.907,102.32810,209363.0,5.76,8782.231,74.788,124549.0,169.100,1231.0,161.300,1.167,1.7,1,7,35
1190,52,1997-12-26T00:00:00.000-05:00,67.39956,8765.907,102.32810,209363.0,5.75,8782.231,74.788,124549.0,169.100,1231.0,161.300,1.167,1.7,1,7,35
1191,1,1997-12-29T00:00:00.000-05:00,66.75765,8765.907,102.32810,209363.0,5.76,8782.231,74.788,124549.0,169.100,1507.0,161.300,1.158,1.7,1,7,35
1192,1,1997-12-30T00:00:00.000-05:00,65.47387,8765.907,102.32810,209363.0,5.80,8782.231,74.788,124549.0,169.100,1507.0,161.300,1.158,1.7,1,7,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7255,50,2021-12-13T00:00:00.000-05:00,3.64000,24349.121,97.81084,556810.0,1.42,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1,7,35
7256,50,2021-12-14T00:00:00.000-05:00,3.57000,24349.121,97.81084,556810.0,1.44,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1,7,35
7257,50,2021-12-15T00:00:00.000-05:00,3.49000,24349.121,97.81084,556810.0,1.47,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1,7,35
7258,50,2021-12-16T00:00:00.000-05:00,3.52000,24349.121,97.81084,556810.0,1.44,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1,7,35
7259,50,2021-12-17T00:00:00.000-05:00,3.49000,24349.121,97.81084,556810.0,1.41,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1,7,35

In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SQLContext, SparkSession, functions as F
from pyspark.sql.functions import hour, when, col, date_format, to_timestamp
from pyspark.sql.functions import *
from pyspark.sql.types import *



sc = pyspark.SparkContext(appName="CSE_6242_Project")
sqlContext = SQLContext(sc)
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("Spark") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/19 21:40:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/Users/wuweihan/opt/anaconda3/lib/python3.8/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

22/11/19 21:40:56 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [24]:
def load_data(path):
    df = sqlContext.read.option("header",True).csv(path)
#     df.printSchema()
    return df


# Load Files
GDP = load_data("US_GDP_From_1947.csv")
globalCCI = load_data("Global_CCI_From_1960.csv")
monthlyCPI = load_data("Monthly_CPI_from_1913.csv")
retailSales = load_data("US_Advance_Retail_Sales_From_1992.csv")
treasuryYield = load_data("US_Daily_10_Year_Treasury_Yield.csv")
GNP = load_data("US_GNP_From_1947.csv")
inflationRate = load_data("US_Inflation_Rates_From_1914.csv")
PCE = load_data("US_Monthly_Personal_Consumption_Expenditures_From_1959.csv")
nonFarmEmployees = load_data("US_Non_farm_Employees_From_1939.csv")
rentIndex = load_data("US_Rent_of_Primary_Residence_From_1914.csv")
balticIndex = load_data("baltic_Dry_Index_From_1985.csv")
gasPrice = load_data("US_Weekly_Gas_Prices_From_1993.csv")


df = load_data("stock_data.csv")

# Cast columns to correct types
# df = df.drop("_c0")
df = df.withColumn("Date",df["Date"].astype('Timestamp'))
df = df.withColumn("Open",df["Open"].astype('float'))
df = df.withColumn("High",df["High"].astype('float'))
df = df.withColumn("Low",df["Low"].astype('float'))
df = df.withColumn("Close",df["Close"].astype('float'))
df = df.withColumn("Volume",df["Volume"].astype('float'))
df = df.withColumn("Dividends",df["Dividends"].astype('float'))
df = df.withColumn("Stock Splits",df["Stock Splits"].astype('float'))
df = df.withColumn("Adj Close",df["Adj Close"].astype('float'))


# Combine quarter GDP
df = df.withColumn("year", year("date"))\
        .withColumn("quarter", quarter("date"))\
        .withColumn("month", month("date"))\
        .withColumn("week", weekofyear("date"))
GDP = GDP.withColumn("year", year("date"))\
        .withColumn("quarter", quarter("date"))\
        .withColumn("GDP", col("GDP").astype("float"))\
        .drop("Date")
df = df.join(GDP, ["year", "quarter"], how="left")


# Combine monthly CCI
CCI = globalCCI.select("Time","Value")\
        .where(col("location") == "USA")\
        .withColumnRenamed("Value","CCI")\
        .withColumn("year", year("time"))\
        .withColumn("month", month("time"))\
        .withColumn("CCI", col("CCI").astype("float"))\
        .drop("Time")
df = df.join(CCI, ["year", "month"], how="left")


# Combine Retail Index
retailSales = retailSales.withColumn("Retail", retailSales.RSXFS.astype("float"))\
        .withColumn("Date", retailSales["Date"].astype("Timestamp"))\
        .withColumn("year", year("date"))\
        .withColumn("month", month("DATE"))\
        .drop("RSXFS","Date")
df = df.join(retailSales, ["year", "month"], how="left")


# Combine Treasury Yield
treasuryYield = treasuryYield.withColumn("date", to_timestamp("date", "M/d/yy"))\
        .withColumn("date", expr('''IF(date > "2022-11-02", add_months(date,-1200), date)'''))\
        .withColumn("Yield", treasuryYield[" value"].astype("float"))\
        .drop(" value")\
        .orderBy("Date")

df = df.join(treasuryYield, "Date", how="left")

# Combine quarter GNP
GNP = GNP.withColumn("year", year("date"))\
        .withColumn("quarter", quarter("date"))\
        .withColumn("GNP", col("GNP").astype("float"))\
        .drop("Date")
df = df.join(GNP, ["year", "quarter"], how="left")

# Combine Monthly PCE
PCE = PCE.withColumn("date", PCE["date"].astype("Timestamp"))\
        .withColumn("year", year("date"))\
        .withColumn("month", month("date"))\
        .withColumn("PCEPI", col("PCEPI").astype("float"))\
        .drop("date")
df = df.join(PCE, ["year", "month"], how="left")

# Combine Monthly Non-Farm Employees
nonFarmEmployees = nonFarmEmployees.withColumn("date", nonFarmEmployees["date"].astype("Timestamp"))\
        .withColumn("year", year("date"))\
        .withColumn("month", month("date"))\
        .withColumn("PAYEMS", col("PAYEMS").astype("int"))\
        .drop("date")
df = df.join(nonFarmEmployees, ["year", "month"], how="left")

# Combine Monthly Rent Index
rentIndex = rentIndex.withColumn("date", rentIndex["date"].astype("Timestamp"))\
        .withColumn("year", year("date"))\
        .withColumn("month", month("date"))\
        .withColumn("CUUR0000SEHA", col("CUUR0000SEHA").astype("float"))\
        .withColumnRenamed("CUUR0000SEHA","Rent_Index")\
        .drop("date")
df = df.join(rentIndex, ["year", "month"], how="left")

# Combine Weekly Baltic Index
balticIndex = balticIndex.withColumn("Price",F.regexp_replace('Price',',','').astype('float'))\
        .select("Date", "Price")\
        .withColumn("date", to_timestamp("date", "MM/dd/yyyy"))\
        .withColumn("year", year("date"))\
        .withColumn("week", weekofyear("date"))\
        .withColumnRenamed("Price","Baltic_Index")\
        .drop("date")
df = df.join(balticIndex, ["year", "week"], how="left")

# Melt Monthly CPI with Pandas

tmp = monthlyCPI.select("*").toPandas().melt(id_vars=["Year"],value_vars=["Jan", "Feb", "Mar", "Apr", "May", "June",\
    "July", "Aug", "Sep", "Oct", "Nov", "Dec"],var_name="Month", value_name="CPI")
tmpSchema = StructType([StructField("Year", StringType(), False),\
                       StructField("Month", StringType(), False),\
                       StructField("CPI", StringType(), True)])

# Combine Monthly CPI
monthlyCPI = spark.createDataFrame(tmp, schema=tmpSchema) 
monthlyCPI = monthlyCPI.withColumn("Year", monthlyCPI["Year"].astype("Integer"))\
        .withColumn("Month", col("Month").substr(0,3))\
        .withColumn("Month", from_unixtime(unix_timestamp(col("Month"),'MMM'),'MM').astype("Integer"))\
        .withColumn("CPI", monthlyCPI["CPI"].astype("Float"))\
        .drop("date")
df = df.join(monthlyCPI, ["year", "month"], how="left")

#Combine Weekly Gas Price
gasPrice = gasPrice.withColumn("Date", from_unixtime(unix_timestamp(col("Date"),'MMM dd, yyyy'),'yyyy-MM-dd').astype("Timestamp"))\
    .withColumn("gas price", col("gas price").astype("float"))\
    .withColumn("year", year("date"))\
    .withColumn("week", weekofyear("date"))\
    .withColumnRenamed("gas price","Gas_Price")\
    .drop("Date")
df = df.join(gasPrice, ["year", "week"], how="left")


# Melt Inflation Rate with Pandas
tmp = inflationRate.select("*").toPandas().melt(id_vars=["Year"],value_vars=["Jan", "Feb", "Mar", "Apr", "May", "Jun",\
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],var_name="Month", value_name="CPI")
tmpSchema = StructType([StructField("Year", StringType(), False),\
                       StructField("Month", StringType(), False),\
                       StructField("Inflation_Rate", StringType(), True)])

inflationRate = spark.createDataFrame(tmp, schema=tmpSchema) 

# Combine Inflation Rate
inflationRate = inflationRate.withColumn("Year", inflationRate["Year"].astype("Integer"))\
        .withColumn("Month", col("Month").substr(0,3))\
        .withColumn("Month", from_unixtime(unix_timestamp(col("Month"),'MMM'),'MM').astype("Integer"))\
        .withColumn("Inflation_Rate", inflationRate["Inflation_Rate"].astype("Float"))\
        .drop("date")
df = df.join(inflationRate, ["year", "month"], how="left")


df.show(10)
df.printSchema()
# df.write.csv("stock_date_combined_with_index")

22/11/05 00:33:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Year, Jan, Feb, Mar, Apr, May, June, July, Aug, Sep, Oct, Nov, Dec, Avg, Dec-Dec, Avg-Avg
 Schema: _c0, Year, Jan, Feb, Mar, Apr, May, June, July, Aug, Sep, Oct, Nov, Dec, Avg, Dec-Dec, Avg-Avg
Expected: _c0 but found:
CSV file: file:///Users/wuweihan/Desktop/Wu's%20Folder/MSIE/Fall%2022/DVA/Project/Monthly_CPI_from_1913.csv
22/11/05 00:33:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Year, Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec, Ave
 Schema: _c0, Year, Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec, Ave
Expected: _c0 but found:
CSV file: file:///Users/wuweihan/Desktop/Wu's%20Folder/MSIE/Fall%2022/DVA/Project/US_Inflation_Rates_From_1914.csv

22/11/05 00:33:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, company, sector, country, Adj Close
 Schema: _c0, Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, company, sector, country, Adj Close
Expected: _c0 but found:
CSV file: file:///Users/wuweihan/Desktop/Wu's%20Folder/MSIE/Fall%2022/DVA/Project/stock_data.csv
+----+-----+----+-------+-------------------+---+-----+-----+-----+------+------+---------+------------+-------+----------+-------------+---------+---------+--------+--------+-----+---------+-------+------+----------+------------+-------+---------+--------------+
|year|month|week|quarter|               Date|_c0| Open| High|  Low| Close|Volume|Dividends|Stock Splits|company|    sector|      country|Adj Close|      GDP|     CCI|  Retail|Yield|      GNP|  PCEPI|PAYEMS|Rent_Index|Baltic_Index|    CPI|Gas_Price|Inflation_Rate|
+----+-----+----+-------+-------------------+---+-----+-----+-----+------+------+---------+------------+-------+----------+-------------+---------+---------+--------+--------+-----+---------+-------+------+----------+------------+-------+---------+--------------+
|2018|    2|   7|      1|2018-02-16 00:00:00|  0|69.75|72.75| 64.2|  67.5|1527.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.87|20467.926|107.625|148064|   315.277|      1185.0|248.991|    2.724|           2.2|
|2018|    2|   8|      1|2018-02-20 00:00:00|  1| 65.7| 66.0|63.75|  66.0| 353.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.88|20467.926|107.625|148064|   315.277|      1207.0|248.991|    2.676|           2.2|
|2018|    2|   8|      1|2018-02-21 00:00:00|  2| 60.0|74.85| 60.0| 71.25| 733.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.94|20467.926|107.625|148064|   315.277|      1207.0|248.991|    2.676|           2.2|
|2018|    2|   8|      1|2018-02-22 00:00:00|  3|67.65|71.25|66.75|68.745| 213.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.92|20467.926|107.625|148064|   315.277|      1207.0|248.991|    2.676|           2.2|
|2018|    2|   8|      1|2018-02-23 00:00:00|  4|65.25| 67.5|65.25|  67.5| 360.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.88|20467.926|107.625|148064|   315.277|      1207.0|248.991|    2.676|           2.2|
|2018|    2|   9|      1|2018-02-26 00:00:00|  5| 64.5|72.75| 61.5| 72.75| 753.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.86|20467.926|107.625|148064|   315.277|      1201.0|248.991|    2.666|           2.2|
|2018|    2|   9|      1|2018-02-27 00:00:00|  6| 66.0| 67.5|63.75| 66.75| 200.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0|  2.9|20467.926|107.625|148064|   315.277|      1201.0|248.991|    2.666|           2.2|
|2018|    2|   9|      1|2018-02-28 00:00:00|  7| 73.5| 73.5| 73.5|  73.5| 153.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.5402|434631.0| 2.87|20467.926|107.625|148064|   315.277|      1201.0|248.991|    2.666|           2.2|
|2018|    3|   9|      1|2018-03-01 00:00:00|  8| 73.5| 73.5| 73.5|  73.5|  20.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.6436|433239.0| 2.81|20467.926|107.777|148289|   315.883|      1201.0|249.554|    2.666|           2.4|
|2018|    3|   9|      1|2018-03-02 00:00:00|  9|66.75|72.75|66.75|  69.0| 167.0|      0.0|         0.0|   AADI|Healthcare|United States|     null|20155.486|101.6436|433239.0| 2.86|20467.926|107.777|148289|   315.883|      1201.0|249.554|    2.666|           2.4|
+----+-----+----+-------+-------------------+---+-----+-----+-----+------+------+---------+------------+-------+----------+-------------+---------+---------+--------+--------+-----+---------+-------+------+----------+------------+-------+---------+--------------+
only showing top 10 rows

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- quarter: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- _c0: string (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Volume: float (nullable = true)
 |-- Dividends: float (nullable = true)
 |-- Stock Splits: float (nullable = true)
 |-- company: string (nullable = true)
 |-- sector: string (nullable = true)
 |-- country: string (nullable = true)
 |-- Adj Close: float (nullable = true)
 |-- GDP: float (nullable = true)
 |-- CCI: float (nullable = true)
 |-- Retail: float (nullable = true)
 |-- Yield: float (nullable = true)
 |-- GNP: float (nullable = true)
 |-- PCEPI: float (nullable = true)
 |-- PAYEMS: integer (nullable = true)
 |-- Rent_Index: float (nullable = true)
 |-- Baltic_Index: float (nullable = true)
 |-- CPI: float (nullable = true)
 |-- Gas_Price: float (nullable = true)
 |-- Inflation_Rate: float (nullable = true)

In [25]:
# df.show()
# df.printSchema()
df.write.option("header",True).csv("stock_date_combined_with_index")

22/11/05 00:36:25 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, company, sector, country, Adj Close
 Schema: _c0, Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, company, sector, country, Adj Close
Expected: _c0 but found:
CSV file: file:///Users/wuweihan/Desktop/Wu's%20Folder/MSIE/Fall%2022/DVA/Project/stock_data.csv