In [15]:
import csv
import glob
import pandas as pd
import numpy as np

In [59]:
data_frames = []
for file in glob.glob('Data/stock_date_combined_with_index/*.csv'):
    print(file)
    csvFile = pd.read_csv(file)
    data_frames.append(csvFile)
data = pd.concat(data_frames)


to_drop = ['Open','High','Low','_c0','Adj Close','Dividends','Volume','Stock Splits','month','quarter']
data = data.drop(columns=to_drop)

data = data.dropna(axis = 0)
print(data.info())

Data/stock_date_combined_with_index/part-00001-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00000-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00003-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00002-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00009-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00005-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00008-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00004-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00007-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
Data/stock_date_combined_with_index/part-00006-a506482b-ee25-4e2b-884b-0b0d4150650e-c000.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6125456 entries, 0 to 707906
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   week            int64
 2   Date            object
 3   Close           float64
 4   company         object
 5   sector          object
 6   country         object
 7   GDP             float64
 8   CCI             float64
 9   Retail          float64
 10  Yield           float64
 11  GNP             float64
 12  PCEPI           float64
 13  PAYEMS          float64
 14  Rent_Index      float64
 15  Baltic_Index    float64
 16  CPI             float64
 17  Gas_Price       float64
 18  Inflation_Rate  float64
dtypes: float64(13), int64(2), object(4)
memory usage: 934.7+ MB
None

In [60]:
def assign_unique_id_to_object_column(df,col):
    ref = df[[col,'CPI']].groupby(by=[col]).sum().reset_index()
    ref[col+'_id'] = ref.index
    ref=ref.drop(['CPI'],axis=1)
    ref.to_csv("./col_%s_to_%s_id.csv"%(col,col))
    df = df.join(ref.set_index(col), on=col)
    df = df.drop(columns=[col])

    return df

to_assign_id = ['company','sector','country']
for col in to_assign_id:
    print(col)
    data = assign_unique_id_to_object_column(data,col)


print(data.info())
data.head(10)

company
sector
country
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6125456 entries, 0 to 707906
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   week            int64
 2   Date            object
 3   Close           float64
 4   GDP             float64
 5   CCI             float64
 6   Retail          float64
 7   Yield           float64
 8   GNP             float64
 9   PCEPI           float64
 10  PAYEMS          float64
 11  Rent_Index      float64
 12  Baltic_Index    float64
 13  CPI             float64
 14  Gas_Price       float64
 15  Inflation_Rate  float64
 16  company_id      int64
 17  sector_id       int64
 18  country_id      int64
dtypes: float64(13), int64(5), object(1)
memory usage: 934.7+ MB
None

,year,week,Date,Close,GDP,CCI,Retail,Yield,GNP,PCEPI,PAYEMS,Rent_Index,Baltic_Index,CPI,Gas_Price,Inflation_Rate,company_id,sector_id,country_id
0,2011,43,2011-10-28T00:00:00.000-04:00,64.35,15842.267,96.89687,347942.0,2.34,16102.819,98.725,132562.0,255.651,1784.0,226.421,3.520,3.5,226,5,35
1,2011,44,2011-10-31T00:00:00.000-04:00,58.50,15842.267,96.89687,347942.0,2.17,16102.819,98.725,132562.0,255.651,1835.0,226.421,3.511,3.5,226,5,35
2,2011,44,2011-11-01T00:00:00.000-04:00,63.70,15842.267,97.35576,349156.0,2.01,16102.819,98.928,132694.0,256.367,1835.0,226.230,3.511,3.4,226,5,35
3,2011,44,2011-11-02T00:00:00.000-04:00,63.05,15842.267,97.35576,349156.0,2.03,16102.819,98.928,132694.0,256.367,1835.0,226.230,3.511,3.4,226,5,35
4,2011,44,2011-11-03T00:00:00.000-04:00,45.50,15842.267,97.35576,349156.0,2.09,16102.819,98.928,132694.0,256.367,1835.0,226.230,3.511,3.4,226,5,35
5,2011,44,2011-11-04T00:00:00.000-04:00,63.05,15842.267,97.35576,349156.0,2.06,16102.819,98.928,132694.0,256.367,1835.0,226.230,3.511,3.4,226,5,35
6,2011,45,2011-11-07T00:00:00.000-05:00,63.05,15842.267,97.35576,349156.0,2.04,16102.819,98.928,132694.0,256.367,1895.0,226.230,3.482,3.4,226,5,35
7,2011,45,2011-11-08T00:00:00.000-05:00,61.10,15842.267,97.35576,349156.0,2.10,16102.819,98.928,132694.0,256.367,1895.0,226.230,3.482,3.4,226,5,35
8,2011,45,2011-11-09T00:00:00.000-05:00,46.80,15842.267,97.35576,349156.0,2.00,16102.819,98.928,132694.0,256.367,1895.0,226.230,3.482,3.4,226,5,35
9,2011,45,2011-11-10T00:00:00.000-05:00,46.80,15842.267,97.35576,349156.0,2.04,16102.819,98.928,132694.0,256.367,1895.0,226.230,3.482,3.4,226,5,35

In [61]:
training = data[data['year']<2022].drop(columns=['year'])
testing = data[data['year']==2022].drop(columns=['year'])

# Model

In [64]:
training = pd.read_csv("Data/training_filtered.csv", index_col = 0)
training

,week,Date,Close,GDP,CCI,Retail,Yield,GNP,PCEPI,PAYEMS,Rent_Index,Baltic_Index,CPI,Gas_Price,Inflation_Rate,company_id,sector_id,country_id
0,32,2017-08-09T00:00:00.000-04:00,279.000,19561.896,101.16760,417014.0,2.2476,19870.352,106.093,146913.0,309.479,1260.0,245.519,2.492,1.9,2070,5,35
1,32,2017-08-10T00:00:00.000-04:00,297.000,19561.896,101.16760,417014.0,2.1975,19870.352,106.093,146913.0,309.479,1260.0,245.519,2.492,1.9,2070,5,35
2,32,2017-08-11T00:00:00.000-04:00,288.000,19561.896,101.16760,417014.0,2.1888,19870.352,106.093,146913.0,309.479,1260.0,245.519,2.492,1.9,2070,5,35
3,33,2017-08-14T00:00:00.000-04:00,288.000,19561.896,101.16760,417014.0,2.2185,19870.352,106.093,146913.0,309.479,1209.0,245.519,2.497,1.9,2070,5,35
4,33,2017-08-15T00:00:00.000-04:00,306.000,19561.896,101.16760,417014.0,2.2728,19870.352,106.093,146913.0,309.479,1209.0,245.519,2.497,1.9,2070,5,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711857,50,2021-12-13T00:00:00.000-05:00,0.816,24349.121,97.81084,556810.0,1.4200,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1829,5,35
711858,50,2021-12-14T00:00:00.000-05:00,0.829,24349.121,97.81084,556810.0,1.4400,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1829,5,35
711859,50,2021-12-15T00:00:00.000-05:00,0.889,24349.121,97.81084,556810.0,1.4700,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1829,5,35
711860,50,2021-12-16T00:00:00.000-05:00,0.853,24349.121,97.81084,556810.0,1.4400,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1829,5,35
711861,50,2021-12-17T00:00:00.000-05:00,0.877,24349.121,97.81084,556810.0,1.4100,24530.588,118.841,149240.0,355.931,2217.0,278.802,3.414,7.0,1829,5,35

In [69]:
company_stock_price = {}
for company in training.company_id.unique():
    tmp = training[training.company_id == company]
    if len(tmp) > 100:
        company_stock_price[company] = tmp

143

In [52]:
# Number of company
len(training.company.unique())

2235

717887